<!DOCTYPE html>

<html>

<head>
    <title>Parrot Sequoia</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/style.css?version=1.5">
    <link rel="shortcut icon" href="../myico.ico" type="image/x-icon" />
    <meta content="text/html, text/plain" charset="x-user-defined">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo-container" href="../index.html" style="float:left"><img id="logo" src="../img/LOGO_SEQUOIA.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html"> Home </a></li>
                    <li><a href="status.html"> Status </a></li>
                    <li><a href="gallery.html"> Gallery </a></li>
                    <li><a target="_blank" href="../help/index.html"> Help </a></li>
                    <li class="active"><a href="settings.html"> Settings <span class="sr-only">(current)</span> </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button id="unmount" style="display: none" class="btn btn-primary navbar-btn" href="index.html">Eject SD card&nbsp;&nbsp;<span class="glyphicon glyphicon-open" aria-hidden="true"></span></button>
                    </li>
                    <li>
                        <button id="powerOff" class="btn btn-primary navbar-btn" href="index.html">Power Off&nbsp;&nbsp;<span class="glyphicon glyphicon-off" aria-hidden="true"></span></button>
                    </li>
                    <li class="dropdown" id="dropL">
                        <a href="#" onclick="return false;" id="selectLanguage" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded=false> EN&nbsp;&nbsp;<img src="../img/traduction/usa.svg" class="flag"/> <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a id="language" href="settingsfr.html"> FR&nbsp;&nbsp;<img src="../img/traduction/france.svg" class="flag"/> </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="row">
        <!--<div id="nogpsfix" class="alert alert-warning col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-lg-offset-4" style="display:none;text-align:center;">
            <img style="height:30px" src="../img/instruments/nogpsfix.png" /><span>&nbsp;&nbsp;<strong>NO GPS SIGNAL</strong></span>
        </div>-->
    </div>
    <div class="row panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Sequoia Info</h4>
            </div>
            <div class="panel-body" id="info">
                <div id="ssid" style="height:34px" class="row"><span style="float:left;padding-top:8px"><strong>SSID:&nbsp;</strong></span><span style="float:left;padding-top:8px" id="text_ssid"></span>
                    <input style="display:none;max-width:130px;float:left" type="text" id="input_ssid" name="ssid">
                    <div style="display:inline-block;float:left;margin-left:8px">
                        <button id="set_ssid" class="btn btn-primary">Edit</button>
                        <button id="send_ssid" style="display:none" class="btn btn-primary">Set</button>
                    </div>
                    <div style="float:left;padding-left:15px;padding-top:8px"><strong>Status: </strong></div>
                    <div style="float:left" class="wifi_text">off</div>
                    <div class="toggle-button wifi_on" id="wifi_on" style="float:left">
                        <button type="button" class="wifi_on"></button>
                    </div>
                    <div style="float:left" class="wifi_text">on</div>
                </div>
                <div class="row">
                    <div id="alert_ssid" style="display:none;height:34px;padding:6px;text-align:center;margin:auto;margin-top:10px" class="alert alert-danger col-xs-8 col-sm-5 col-md-3 col-lg-2">
                        SSID is too long !
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Configuration</h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <button id="calibration" class="btn btn-primary"> Force calibration </button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <button id="factoryreset" class="btn btn-primary"> Restore factory settings </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <div id="btn-upload" class="btn btn-primary">
                        <input class="pointer-cursor" id="input-upload" type="file" />
                        <span id="text-upload">Update Sequoia</span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12">
                    <div id="block-filename" class="col-lg-12 col-md-12 col-xs-12" style="display:none">
                        <div>
                            File : <span id="fileName"></span>
                        </div>
                    </div>
                    <div id="block-upload-progress" class="col-lg-12 col-md-12 col-xs-12" style="display:none">
                        <div id="text-info" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            Sending...
                        </div>
                        <div class="progress" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div id="upload-progress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                0%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default debug">
            <div class="panel-heading debug" style="display:none">
                <h4 class="panel-title"><img class="img-responsive" style="display:inline-block;max-height:15px;margin:0px;padding:0px" src="../img/settings/console.png"/>&nbsp;&nbsp;Debug</h4>
            </div>
            <div class="row panel-body debug" style="display:none">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <button id="startlog" class="btn btn-primary"> Start Ulog Data </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <button id="parselog" class="btn btn-primary"> Parse Ulog Data </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="calibModal" tabindex="-1" data-target="#calibModal" role="dialog" aria-labelledby="calibModalLabel">
        <div class="modal-dialog " id="calibDialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="calibModalLabel">Calibration</h4>
                </div>
                <div class="modal-body" id="calibration">
                    <div class="row">
                        <div id="calibrate" class="row" style="text-align: center;color: #AB0916; border: 1px solid #ddd; border-radius: 4px; margin-left: 25px; margin-bottom: 20px; padding-top: 15px; padding-bottom: 15px;">
                            <span id="titleModalCalibrate">Please calibrate Sequoia</span> </br>
                            </br>
                            <div id="yaw">
                                <span class="yaw">YAW</span> </br>
                                <img class="yaw" src="../img/calibration/yaw.png" width="95%"> </br>
                                </br>
                            </div>
                            <div id="pitch">
                                <span class="pitch">PITCH</span> </br>
                                <img class="pitch" src="../img/calibration/pitch.png" width="95%"> </br>
                                </br>
                            </div>
                            <div id="roll">
                                <span class="roll">ROLL</span> </br>
                                <img class="roll" src="../img/calibration/roll.png" width="95%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnstopcalibration" class="btn btn-danger" data-dismiss="modal">Stop Calibration</button>
                    <button type="button" style="display: none" id="btnclosecalibration" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bugmodal" tabindex="-1" data-target="#bugmodal" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crash report !</h4>
                </div>
                <div class="modal-body">
                    <p>Something crashed on your Sequoia !</p>
                    <p>Would you like to download the crash report '<strong id="bugfilename"></strong>' in order to send it to Parrot technical support ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="dlbugreport" name="" data-dismiss="modal">Download</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resetmodal" tabindex="-1" data-target="#resetmodal" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Restore factory settings</h4>
                </div>
                <div class="modal-body">
                    <p><strong>Are you sure you want to apply factoy reset on your sequoia ?</strong> Please note:</p>
                    <p> - After a factory reset, <strong>all data will be lost</strong>.</p>
                    <p> - Your Sequoia should be connected on a <strong>stable power source</strong>.</p>
                    <p> - <strong>Do not touch or disconnect your Sequoia</strong> when the factory reset is running.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmreset" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="wssidmodal" tabindex="-1" data-target="#wssidmodal" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Your wifi SSID will change in <strong id="rt">10</strong>s, don't forget to reconnect your device to the right wifi SSID</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="woffmodal" tabindex="-1" data-target="#wssidmodal" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p><strong>Are you sure you want to turn off the wifi ?</strong></p>
                    <p>Please note that if you want to turn back <strong>on</strong> the <strong>wifi</strong> you can <strong>press the Sequoia button 4 times</strong>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmwifioff" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer navbar-fixed-bottom">
        <div class="row no-padding">
            <div class="col-xs-4 col-sm-4 col-mg-4 col-lg-4 no-padding">
                Version: <span id="version">0.0.0</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-mg-4 col-lg-4 no-padding">
                S/N: <span id="serialnumber"> </span>
            </div>
            <div class="col-xs-4 col-sm-4 col-mg-4 col-lg-4 no-padding">
                <a target="_blank" href="../license.html" id="termsofuse">Terms of use</a>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JQuery -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/jquery.WebSocket.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/sd.js?version=1.5"></script>
    <script src="../js/settings.js?version=1.5"></script>
</body>

</html>
