# This file contains the rules needed to load firmwares. -*- mode:sh -*-

# skip rules on already handled devices
ENV{JUBA_STR_DEV_TYPE}=="firmware", GOTO="juba_firmware_start"
ENV{JUBA_STR_DEV_TYPE}=="?*", GOTO="juba_firmware_end"

LABEL="juba_firmware_start"

ACTION=="add", SUBSYSTEM=="firmware", ENV{JUBA_STR_DEV_TYPE}="firmware", RUN="juba_firmware"

LABEL="juba_firmware_end"
