
ACTION=="add|change", SUBSYSTEM=="usb-serial", RUN+="/usr/bin/pstart sicilia_epic"
ACTION=="remove", SUBSYSTEM=="usb-serial", RUN+="/usr/bin/pterm sicilia_epic"

